* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 55vw;
    min-height: 38vh;
    margin: 30px auto;
    background: white;   
    /* display: flex; */
    /* justify-content: space-between; */
}

.header {
    border-bottom: 0.3px solid #46A358;
    padding-bottom: 10px;
    display: flex;
    gap: 240px;
}

.header .ul{
    display: flex;
    gap: 120px;
}

.header ul li {
    font-weight: 500;
}